.logo-container {
  height: 100%;
  width: 100%;
}

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-link {
      padding: 15px 15px;
      font-size: larger;
      cursor: pointer;
    }
  }
}
